<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button ></ion-back-button>
    <ion-title align="center">Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card class="card">
    <ion-card-content>
      <ion-item>
        <ion-input type="text" placeholder="Nombres:" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Apellidos" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Telefono" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Direccion" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Email" ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
